.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: aliceblue;
  width: 100vw;
  position: fixed;
  border-bottom: 1px solid #00589b30;
}

.logo_JF {
  margin: 0px 40px;
  width: 218px;
}

.services-list {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  gap: 50px;
  color: #00579b;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
}

.services-item a {
  color: inherit;
  text-decoration: none;
  display: block;
}

.services-item:hover {
  background-color: #00579b;
  color: white;
  border-radius: 15px;
  padding: 10px;
}

.services-item:hover,
.services-item.active {
  background-color: #00579b;
  color: white;
  border-radius: 15px;
  padding: 10px;
}

.modal-container {
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: aliceblue;
  position: absolute;
  left: 950px;
  height: 300px;
  width: 300px;
  top: 10px;
  box-shadow: 0px 0px 10px #1b1b1b40;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  color: #00579b;
  display: none;
}

.notifications {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  color: #262626;
  font-size: 15px;
  margin: 25px;
}

.notifications li {
  margin: 0px 0px 25px 0px;
}

.notifications li:hover {
  color: #00579b;
  font-size: 25px;
}

.modal-itens {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #1b1b1b40;
}

.modal-container h3 {
  margin: 20px;
}

.close-modal {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  border: none;
  background-color: #00579b;
  color: aliceblue;
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 15px;
}

.close-modal:hover {
  box-shadow: 0px 0px 3px #262626;
}

.utils {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 0px 40px;
}

.btn-user {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  border: none;
  background-color: #00579b;
  color: aliceblue;
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 15px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 40px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #c7c7c7;
  transition: 0.4s;
  border-radius: 40px;
}

.slider::before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  left: 5px;
  bottom: 5px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #00579b;
}

input:checked + .slider::before {
  transform: translateX(30px);
}

.profile-title {
  color: #f7f7f7;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00579b;
  height: 100px;
  margin-top: 80px;
  width: 100%;
}

.profile-title h1,
.profile-title a {
  margin: 20px 40px;
}

.go-home {
  font-family: "Roboto", sans-serif;
  border-radius: 10px;
  border: none;
  background-color: #f7f7f7;
  color: #00579b;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  height: 100%;
}

.container-contract {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: aliceblue;
  margin: 40px;
  width: 95%;
  border: 1px solid #004a88;
}

.contract-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  border-bottom: 1px solid black;
  padding: 10px;
  gap: 30px;
}

.contract-card h3 {
  width: 200px;
}

.width {
  width: 200px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  margin-bottom: 30px;
  font-weight: 600;
  gap: 15px;
}

.pagination a {
  background-color: #00579b;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
  color: #f7f7f7;
}

.pagination a:hover {
  color: #00579b;
  background-color: #f7f7f7;
  border: 1px solid #00579b;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #004a88;
  height: 160px;
}

.localizacao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  color: #f7f7f7;
  margin: 20px 40px;
}

.info {
  color: #c7c7c7;
  font-size: 15px;
}

.info-item {
  margin: 10px 0px;
}

.line {
  width: 2px;
  height: 120px;
  background-color: #f7f7f7;
  margin: 0px 40px;
}

.logo_footer {
  width: 150px;
  margin: 0px 100px 0px 40px;
}

.footer-info {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #262626;
  height: 80px;
}

.footer-info p {
  color: #f7f7f7;
  font-family: "Roboto", sans-serif;
}
