.header {
  width: 100vw;
  background-color: #00579b;
  position: fixed;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  width: 100%;
  height: 80px;
}

.nav-title {
  font-family: "Roboto", sans-serif;
  color: #f7f7f7;
}

.go-home {
  border: none;
  padding: 10px;
  color: #00579b;
  background-color: #f7f7f7;
  border-radius: 10px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}

.content {
  width: 100%;
  height: 100%;
  padding: 20px 50px;
}

.form-contracts {
  border: 1px solid #00589b30;
  background-color: aliceblue;
  width: 100%;
  border-radius: 10px;
  margin-top: 100px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.form-title{
    font-family: 'Roboto', sans-serif;
    margin: 0px 0px 10px 5px;    
}

.container-messages{
  
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 100%;
}

.edit-action-card {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 10px;
  height: 100px;
  background-color: aliceblue;
  border: 1px solid #00589b30;
  border-radius: 10px;
  overflow: visible;
  font-family: "Roboto", sans-serif;
}

.edit-action-card label {
  font-size: 15px;
  font-weight: 600;
}

.edit-action-card input,
.edit-action-card textarea,
.edit-action-card select {
  width: 100%;
  padding: 5px;
  background-color: #f7f7f7;
  border: 1px solid #00579b;
  border-radius: 7px;
  resize: none;
  font-family: "Roboto", sans-serif;
}

.container-data{
  display: none;
  flex-direction: column;
  gap: 5px;
}

.plus-info{
  height: 100px;
}

.btn-data{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: none;
  padding: 3px;
  color: #f7f7f7;
  background-color: #00579b;
  border-radius: 6px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}

.btn-data:hover{
  background-color: #004a88;
}

.container-finish{
  display: flex;
  margin: 20px 0px;
  gap: 20px;
}

.btn-save{
  padding: 10px;
  border-radius: 10px;
  border: none;
  color: #f7f7f7;
  background-color: #0daf15;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.btn-cancel{
  padding: 10px;
  border-radius: 10px;
  border: none;
  color: #f7f7f7;
  background-color: #c10000;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.footer-info {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #262626;
  height: 80px;
}

.footer-info p {
  color: #f7f7f7;
  font-family: "Roboto", sans-serif;
}
