.shadow{
  background-color: #262626;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: aliceblue;
  width: 100vw;
  position: fixed;
  border-bottom: 1px solid #00589b30;
}

.logo_JF {
  margin: 0 40px;
  width: 218px;
}

.upload-container {
  text-align: center;
}

.upload-label {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #00579b;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  text-transform: none;
  border: none;
  transition: background-color 0.3s;
}

.upload-label:hover {
  background-color: #004a88;
  color: #f7f7f7;
}

input[type="file"] {
  display: none;
}

.services-list {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  gap: 50px;
  color: #00579b;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
}

.services-item a {
  color: inherit;
  text-decoration: none;
  display: block;
}

.services-item:hover {
  background-color: #00579b;
  color: white;
  border-radius: 15px;
  padding: 10px;
}

.modal-container {
  position: fixed;
  top: 10px;
  left: 950px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
  padding: 20px;
  width: 500px;
  max-height: 70vh;
  display: none;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.modal-container strong {
  margin: 20px 0px;
}

.modal-itens {
  flex: 1;             
  overflow-y: auto;     
  max-height: 50vh;     
  margin-bottom: 15px;  
}

.modal-itens {
  max-height: 50vh;
  overflow-y: auto;
  margin-top: 10px;
  padding-right: 10px;
}

.modal-itens ul.notifications {
  max-height: 300px;
  overflow-y: auto;
  margin: 5px 0 15px 0;
  padding-right: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
}


.notifications li {
  margin-bottom: 10px;
}

.notifications {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  color: #262626;
  font-size: 15px;
}

.close-modal {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  border: none;
  background-color: #00579b;
  color: aliceblue;
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 15px;
}

.close-modal:hover {
  background-color: #004a88;
}

.utils {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 60px;
}

.btn-user {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  border: none;
  background-color: #00579b;
  color: aliceblue;
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 15px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f7f7f7;
  height: 100%;
  width: 100%;
}

.contracts {
  display: flex;
  justify-content: flex-start;
  background-color: aliceblue;
  padding: 20px;
  margin: 120px 40px 40px 40px;
  border-radius: 10px;
  border: 1px solid #00589b30;
  width: 95%;
}

.form-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1700px;
  gap: 30px;
}

.search-contract {
  border-radius: 10px;
  border: none;
  font-family: "Roboto", sans-serif;
  padding: 20px;
  color: #00579b;
  font-size: 15px;
  width: 100%;
}

.search-btn {
  background-color: #f7f7f7;
  padding: 18px;
  cursor: pointer;
  font-size: 18px;
  color: #00579b;
  border-radius: 10px;
  border: 1px solid #00579b;
}

.search-btn:hover{
  background-color: #00579b;
  color: #f7f7f7;

}

.search-contract::placeholder {
  font-size: 16px;
}

.search-result-title {
  margin: 10px;
}

.container-contract-filtered {
  border: 1px solid #00589b30;
  font-family: "Roboto", sans-serif;
  width: 95%;
  background-color: aliceblue;
  margin-bottom: 40px;
}

.contract-card-filtered {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  gap: 30px;
  border-bottom: 1px solid #00589b30;
  border-top: 1px solid #00589b30;
  padding: 10px;
}

.contracts-title {
  font-family: "Roboto", sans-serif;
  color: #004a88;
  text-transform: uppercase;
}

.contracts-update {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-contract {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: aliceblue;
  margin: 40px;
  width: 95%;
  border: 1px solid #00589b30;
}

.contract-labels,
.contract-card {
  display: grid;
  grid-template-columns: 1fr 3.75fr 3.25fr 2.75fr 1.25fr 1.75fr 1.6fr 1fr 1fr;
  gap: 26px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-family: "Roboto", sans-serif;
  padding: 9px 18px;
  border-bottom: 1px solid #00589b30;
}

.contract-card h3 {
  width: 200px;
}

.width {
  width: 200px;
}

.btn-edit-icon{
  border: none;
  background-color: transparent;
  width: 27px;
}

.btn-edit-icon:hover{
  color: #f7f7f7;
  background-color: #00579b;
  padding: 6px;
  border-radius: 50%;
}

.contract-edit-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contract-edit-top i{
  font-size: 30px;
  padding: 0px 20px 0px 0px;
}
.contract-edit-top i:hover{
  color: #00579b;
}

.edit-contracts {
  display: none;
  justify-content: start;
  flex-direction: column;
  position: absolute;
  width: 1000px;
  background-color: aliceblue;
  border: 1px solid #00589b30;
  border-radius: 10px;
  padding: 20px;
  gap: 20px;
  font-family: "Roboto", sans-serif;
  box-shadow: 0px 0px 20px #c1c1c1;
}


.edit-card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;    
  justify-content: start;
  align-items: center;
}

.contract-form-card {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  background-color: #f7f7f7;
  border: 1px solid #00579b;
  border-radius: 8px;
  padding: 10px;
  width: 300px;
  gap: 5px;
}

.warning{
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  font-size: 15px;
  gap: 5px;
}

.contract-form-card input,
.contract-form-card select,
.contract-form-card textarea {
  width: 100%;
}

.contract-form-card{
  padding: 20px;
  border: 1px solid #00579b;
  border-radius: 10px;
}

.finish-operation{
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "Roboto", sans-serif;
  margin: 20px 0px;
}

.save-button{
  padding: 8px 20px;
  font-size: 15px;
  border-radius: 7px;
  background-color: rgb(0, 194, 0);
  border: none;
  color: #f7f7f7;
  text-transform: uppercase;
}

.save-button:hover{
  background-color: rgb(0, 132, 0);
}

.close-button{
  padding: 8px 20px;
  font-size: 15px;
  border-radius: 7px;
  background-color: #bc0000;
  border: none;
  color: #f7f7f7;
  gap: 10px;
  text-transform: uppercase;
}

.close-button:hover{
  background-color: #7b0000;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  margin-bottom: 30px;
  font-weight: 600;
  gap: 15px;
}

.pagination a {
  background-color: #00579b;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
  color: #f7f7f7;
}

.btn-go:hover {
  color: #00579b;
  background-color: #f7f7f7;
  border: 1px solid #00579b;
}

.pagination a:hover {
  color: #00579b;
  background-color: #f7f7f7;
  border: 1px solid #00579b;
}

.footer-info {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #262626;
  height: 80px;
}

.footer-info p {
  color: #f7f7f7;
  font-family: "Roboto", sans-serif;
}
