.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: aliceblue;
  width: 100vw;
  position: fixed;
  border-bottom: 1px solid #00589b30;
}

.logo_JF {
  margin: 0px 40px;
  width: 218px;
}

.upload-container {
  text-align: center;
}

.upload-label {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #00579b;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  text-transform: none;
  border: none;
  transform: background-color 0.3s;
}

.upload-label:hover {
  background-color: #004a88;
  color: #f7f7f7;
}

input[type="file"] {
  display: none;
}

.services-list {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  gap: 50px;
  color: #00579b;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
}

.services-item a {
  color: inherit;
  text-decoration: none;
  display: block;
}

.services-item:hover {
  background-color: #00579b;
  color: white;
  border-radius: 15px;
  padding: 10px;
}

.modal-container {
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: aliceblue;
  position: absolute;
  left: 950px;
  height: 300px;
  width: 300px;
  top: 10px;
  box-shadow: 0px 0px 10px #1b1b1b40;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  color: #00579b;
  display: none;
}

.notifications {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  color: #262626;
  font-size: 15px;
  margin: 25px;
}

.notifications li {
  margin: 0px 0px 25px 0px;
}

.notifications li:hover {
  color: #00579b;
  font-size: 25px;
}

.modal-itens {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #1b1b1b40;
}

.modal-container h3 {
  margin: 20px;
}

.close-modal {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  border: none;
  background-color: #00579b;
  color: aliceblue;
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 15px;
}

.close-modal:hover {
  background-color: #004a88;
}

.utils {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 60px;
}

.btn-user {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  border: none;
  background-color: #00579b;
  color: aliceblue;
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 15px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f7f7f7;
  height: 100%;
  width: 100%;
}

.contracts {
  display: flex;
  justify-content: start;
  background-color: aliceblue;
  padding: 20px;
  margin: 120px 40px 40px 40px;
  border-radius: 10px;
  border: 1px solid #00589b30;
  width: 95%;
}

.form-input {
  display: flex;
  width: 100%;
  max-width: 1700px;
  gap: 10px;
}

.search-contract {
  border-radius: 10px;
  border: none;
  font-family: "Roboto", sans-serif;
  padding: 20px;
  color: #00579b;
  font-size: 15px;
  width: 100%;
}

.search-btn {
  top: 160px;
  left: 93%;
  background: none;
  border: none;
  cursor: pointer;
  color: #1b1b1b;
  font-size: 20px;
  position: absolute;
}

.search-btn:hover {
  color: #f7f7f7;
  background-color: #00579b;
  padding: 13px 15px;
  border-radius: 50%;
  top: 146px;
  left: 92%;
}

.search-contract::placeholder {
  font-size: 16px;
}

.search-result-title{
  margin: 10px;
}

.container-contract-filtered{
  border: 1px solid #00589b30;
  font-family: "Roboto", sans-serif;
  width: 95%;
  background-color: aliceblue;
  margin-bottom: 40px;
}

.contract-card-filtered{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  gap: 30px;
  border-bottom: 1px solid #00589b30;
  border-top: 1px solid #00589b30;
  padding: 10px;
}

.contracts-title {
  font-family: "roboto", sans-serif;
  color: #004a88;
  text-transform: uppercase;
}

.contracts-update {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-contract {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: aliceblue;
  margin: 40px;
  width: 95%;
  border: 1px solid #00589b30;
}

.contract-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  border-bottom: 1px solid #00589b30;
  padding: 10px;
  gap: 30px;
}

.contract-card h3 {
  width: 200px;
}

.width {
  width: 200px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  margin-bottom: 30px;
  font-weight: 600;
  gap: 15px;
}

.pagination a {
  background-color: #00579b;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
  color: #f7f7f7;
}

.btn-go:hover{
  color: #00579b;
  background-color: #f7f7f7;
  border: 1px solid #00579b;
}

.pagination a:hover {
  color: #00579b;
  background-color: #f7f7f7;
  border: 1px solid #00579b;
}

.footer-info {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #262626;
  height: 80px;
}

.footer-info p {
  color: #f7f7f7;
  font-family: "Roboto", sans-serif;
}
