{%load static%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'css/contracts.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>Gestão Fácil</title>
  </head>
  <body>
    <header>
      <nav class="navigation">
        <img
          class="logo_JF"
          src="{% static 'assets/Logo-j-Federal.png' %}"
          alt="Logo da Justiça federal"
        />

        <div>
          <ul class="services-list">
            <li class="services-item active">Contratos</li>
            <spam>|</spam>
            <li class="services-item">
              <a href="{% url 'update_contracts' %}">Atualizar Contratos</a>
            </li>
            <spam>|</spam>
            <li class="services-item notification">Notificações</li>
          </ul>

          <div class="modal-container">
            <h3>Notificações</h3>

            <div class="modal-itens">
              <ul class="notifications">
                <li>Contratos a vencer</li>
                <li>Contratos vencidos</li>
              </ul>
            </div>
            <button class="close-modal">Fechar</button>
          </div>
        </div>

        <div class="utils">
          <label class="switch">
            <input type="checkbox" />
            <spam class="slider"></spam>
          </label>

          <a class="btn-user" href="{% url 'profile' %}">USER</a>
        </div>
      </nav>
    </header>

    <main class="content">
      <div class="container-contract">
        <div class="contract-labels">
            <p><strong>Nº do Contrato</strong></p>
            <p><strong>Contratada</strong></p>
            <p><strong>Objeto</strong></p>
            <p><strong>CPF/CNPJ</strong></p>
            <p><strong>Gestor</strong></p>
            <p><strong>Valor Atualizado</strong></p>
            <p><strong>Status</strong></p>
            <p><strong>Vigência Atual</strong></p>
            <p><strong>Vigência Máxima</strong></p>
          </div>
        {% for contrato in page_obj %}
          <div class="contract-card">
            <p>{{ contrato.numero_contrato }}</p>
            <p>{{ contrato.entidade }}</p>
            <p>{{ contrato.objeto }}</p>
            <p>{{ contrato.cnpj_cpf }}</p>
            {% with contrato.gestor_set.first as gestor %}
              <p>{{ gestor.nome }}</p>
            {% endwith %}
            <p>R$ {{ contrato.valor_atualizado}}</p>
            <p>{{ contrato.get_status_display }}</p>


            {% with contrato.vigencia_set.first as vigencia %}
              {% if vigencia %}
                <p>{{ vigencia.vigencia_atual }}</p>
                <p>{{ vigencia.vigencia_max }}</p>
              {% else %}
                <p><em>Vigência não informada.</em></p>
              {% endif %}
            {% endwith %}
            <span class="edit-icon" title="Editar Contrato">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-pencil-icon lucide-pencil"><path d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z"/><path d="m15 5 4 4"/></svg>
            </span>
            <div class="contract-edit">
              <div class="contract-edit-top">
                <h3>Editar Contrato</h3>
                <button class="close-contract-edit">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x-icon lucide-x"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
                </button>
              </div>
              <form action="" method="POST" class="contract-form">
                {% csrf_token %}

                <div class="contract-form-card">
                  <label for="numero-contrato">Nº do Contrato</label>
                  <p id="numero-contrato" name="numero-contrato">{{ contrato.numero_contrato }}</p>
                  <span class="cant-edit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-x-icon lucide-circle-x"><circle cx="12" cy="12" r="10"/><path d="m15 9-6 6"/><path d="m9 9 6 6"/></svg>
                    <p>Essa informação não pode ser modificada</p>
                  </span>
                </div>

              </form>
              <button class="cancel-changes">Cancelar</button>
              <button class="save-contract">Salvar Alterações</button>
            </div>
          </div>
        {% empty %}
          <p>Nenhum contrato encontrado.</p>
        {% endfor %}
      </div>

      <div class="pagination">
        {% if page_obj.has_previous %}
          <a href="?page=1">
            <i class="fa-solid fa-angle-double-left"></i>
          </a>
          <a href="?page={{ page_obj.previous_page_number }}">
            <i class="fa-solid fa-angle-left"></i>
          </a>
        {% endif %}

        <span>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }} : </span>

        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">
            <i class="fa-solid fa-angle-right"></i>
          </a>
          <a href="?page={{ page_obj.paginator.num_pages }}">
            <i class="fa-solid fa-angle-double-right"></i>
          </a>
        {% endif %}
      </div>
    </main>

    <footer class="footer-info">
      <p>&copy; <strong>2025 SJGO</strong> •Todos os direitos reservadoos•</p>
    </footer>

    <script type="module" src="{% static 'js/scripts.js' %}"></script>
    <script type="module" src="{% static 'js/contractEdit.js' %}""></script>
  </body>
</html>
