{%load static%}

<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'css/profile.css' %}"
    />
    <title>Perfil do Usuário</title>
  </head>
  <body>
    <header>
      <nav class="navigation">
        <img
          class="logo_JF"
          src="{% static 'assets/Logo-j-Federal.png' %}"
          alt="Logo da Justiça federal"
        />

        <div>
          <ul class="services-list">
            <li class="services-item">
              <a href="">Contratos</a>
            </li>
            <spam>|</spam>
            <li class="services-item">
              <a href="{% url 'update_contracts' %}">Atualizar Contratos</a>
            </li>
            <spam>|</spam>
            <li class="services-item notification">Notificaçôes</li>
          </ul>
          <div class="modal-container">
            <h3>Notificações</h3>

            <div class="modal-itens">
              <ul class="notifications">
                <li>Contratos a vencer</li>
                <li>Contratos vencidos</li>
              </ul>
            </div>
            <button class='close-modal'>Fechar</button>
          </div>
        </div>

        <div class="utils">
          <label class="switch">
            <input type="checkbox" />
            <span class="slider"></span>
          </label>
        </div>
      </nav>
    </header>
    <main class="content">
      <div class="profile-title">
        <h1>Perfil do Usuário</h1>
        <a class="go-home" href="{% url 'home' %}">Voltar para a Home</a>
      </div>

      <section class="personal-info">
        <div class="registers">
          <spam>Nome:</spam>
          <div class="register-bar">
            <p>{{ full_name|default:user}}</p>
          </div>
          <spam>CPF:</spam>
          <div class="register-bar">
            <p>{{ cpf|default:"000.000.000-00" }}</p>
          </div>
          <spam>E-mail:</spam>
          <div class="register-bar">
            <p>{{ user.email|default:"usuario@gmail.com" }}</p>
          </div>
          <spam>Telefone:</spam>
          <div class="register-bar">
            <p>{{ phone|default:"(62) 9 9999-9999" }}</p>
          </div>
        </div>

        <spam class="divisor"></spam>

        <div class="account">
          <div class="account-profile">
            <h2>{{ role|default:"Gerente de projetos" }}</h2>
            <h2>{{ company|default:"NuTec - Tecnologia" }}</h2>
            <button class="btn-edit">Editar perfil</button>
            <button class="btn-logout">Sair</button>
          </div>
          <div class="photo">
            <img
              class="logo_JF"
              src="{% static 'img/profile.png' %}"
              alt="Logo da Justiça federal"
            />
          </div>
        </div>
      </section>
      <div class="footer">
        <div class="localizacao">
          <h2>Rua 19, nº 244, Centro</h2>

          <ul class="info">
            <li class="info-item">
              <strong>CEP:</strong> 74030-090 Goiânia/GO
            </li>
            <li class="info-item"><strong>Telefone:</strong> (62) 3226-1500</li>
            <li class="info-item"><strong>CNPJ:</strong> 05.439.950/0001-30</li>
          </ul>
        </div>

        <div class="line"></div>

        <iframe
          src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d244622.50368607216!2d-49.53920458466345!3d-16.665539375156392!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x935ef17cabdf4161%3A0xc5a966b9b525c720!2sJusti%C3%A7a%20Federal%20-%20R.%2019%2C%20244%20-%20St.%20Central%2C%20Goi%C3%A2nia%20-%20GO%2C%2074030-090!3m2!1d-16.6779242!2d-49.253507199999994!5e0!3m2!1spt-PT!2sbr!4v1753813672968!5m2!1spt-PT!2sbr"
          width="440"
          height="124"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>

        <div class="line"></div>

        <img
          class="logo_footer"
          src="{% static 'assets/JF_logo-md.png' %}"
          alt="Logo da Justiça federal"
        />
      </div>
    </main>
    <footer class="footer-info">
      <p>&copy; <strong>2025 SJGO</strong> •Todos os direitos reservadoos•</p>
    </footer>

    <script type="module" src="{% static 'js/scripts.js' %}"></script>

  </body>
</html>
