{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Atualizar Contratos</title>

    <link
      href="{% static 'assets/favicon.png' %}"
      rel="icon"
      type="image/png"
    />
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'css/updateContracts.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
  </head>
  <body>
    <header>
      <nav class="navigation">
        <img
          class="logo_JF"
          src="{% static 'assets/Logo-j-Federal.png' %}"
          alt="Logo da Justiça Federal"
        />

        <div>
          <ul class="services-list">
            <li>
              <a class="upload-label" href="{% url 'contract_page' %}">REGISTRE SEU CONTRATO</a>
            </li>
            <span>|</span>
            <li class="services-item active">Atualizar Contratos</li>
            <span>|</span>
            <li class="services-item notification">Notificações</li>
          </ul>
            <div class="modal-container">
            <h3>Notificações</h3>
            <div class="modal-itens">
              <p><strong>Contratos a vencer:</strong></p>
              <ul class="notifications">
                {% for contrato in contratos_a_vencer %}
                <li>
                  <a
                    href="{% url 'update_contracts' %}?search={{ contrato.numero_contrato }}"
                  >
                    {{ contrato.numero_contrato }} - {{ contrato.entidade }}
                    (vence em {{ contrato.vigencia_set.first.vigencia_atual }})
                  </a>
                </li>
                {% empty %}
                <li>Nenhum contrato prestes a vencer.</li>
                {% endfor %}
              </ul>
              <p><strong>Contratos vencidos:</strong></p>
              <ul class="notifications">
                {% for contrato in contratos_vencidos %}
                <li>
                  <a
                    href="{% url 'update_contracts' %}?search={{ contrato.numero_contrato }}"
                  >
                    {{ contrato.numero_contrato }} - {{ contrato.entidade }}
                    (venceu em {{ contrato.vigencia_set.first.vigencia_atual }})
                  </a>
                </li>
                {% empty %}
                <li>Nenhum contrato vencido.</li>
                {% endfor %}
              </ul>
            </div>
            <button class="close-modal">Fechar</button>
          </div>

          <div class="modal-container">
            <h3>Notificações</h3>
            <div class="modal-itens">
              <ul class="notifications">
                <li>Contratos a vencer</li>
                <li>Contratos vencidos</li>
              </ul>
            </div>
            <button class="close-modal">Fechar</button>
          </div>
        </div>

        <div class="utils">
          <a class="btn-user" href="{% url 'profile' %}">USER</a>
        </div>
      </nav>
    </header>

    <main class="content">
      <div class="profile-title">
        <h1>Atualizar contratos</h1>
        <a class="go-home" href="{% url 'home' %}">Voltar para a Home</a>
      </div>

       <form method="post" action="{% url 'update_contracts' %}" id="formEditarContrato">
        {% csrf_token %}
        <input type="hidden" id="contrato_id" name="contrato_id">
        <input type="hidden" id="responsaveis_json" name="responsaveis_json">

        <section class="container-editions">
          <div class="edit-contracts">

            <div class="container-actions">
              <h3>Contrato</h3>
              <div class="edit-actions">
                <div class="edit-action-card">
                  <label for="numero_contrato">N° do contrato</label>
                  <input type="text" id="numero_contrato" name="numero_contrato" readonly>
                  <span class="icon-info">
                    <i class="fa-regular fa-circle-xmark"></i>
                    <p>Essa informação não pode ser alterada</p>
                  </span>
                </div>

                <div class="edit-action-card">
                  <label for="processo_sei">Processo SEI</label>
                  <input type="text" id="processo_sei" name="processo_sei" readonly>
                  <span class="icon-info">
                    <i class="fa-regular fa-circle-xmark"></i>
                    <p>Essa informação não pode ser alterada</p>
                  </span>
                </div>

                <div class="edit-action-card">
                  <label for="objeto">Objeto</label>
                  <textarea id="objeto" name="objeto"></textarea>
                </div>

                <div class="edit-action-card">
                  <label for="contratada">Contratada</label>
                  <input type="text" id="contratada" name="entidade">
                </div>

                <div class="edit-action-card">
                  <label for="cnpj_cpf">CNPJ/CPF</label>
                  <input type="text" id="cnpj_cpf" name="cnpj_cpf">
                </div>

                <div class="edit-action-card">
                  <label for="observacoes">Observações</label>
                  <textarea id="observacoes" name="observacoes"></textarea>
                </div>

                <div class="edit-action-card">
                  <label for="valor_atualizado">Valor Atualizado</label>
                  <input type="text" id="valor_atualizado" name="valor_atualizado">
                </div>

                <div class="edit-action-card">
                  <label for="status">Status</label>
                  <select id="status" name="status">
                    <option value="ativo">Ativo</option>
                    <option value="inativo">Inativo</option>
                    <option value="reincidiu">Reincidiu</option>
                  </select>
                </div>

                <div class="edit-action-card">
                  <label for="vigencia_original">Vigência Original</label>
                  <input type="date" id="vigencia_original" name="vigencia_original">
                </div>

                <div class="edit-action-card">
                  <label for="vigencia_atual">Vigência Atual</label>
                  <input type="date" id="vigencia_atual" name="vigencia_atual">
                </div>

                <div class="edit-action-card">
                  <label for="vigencia_maxima">Vigência Máxima</label>
                  <input type="date" id="vigencia_maxima" name="vigencia_max">
                </div>

                <div class="edit-action-card">
                  <label for="link_planilhas_sei">Link Planilhas SEI</label>
                  <input type="text" id="link_planilhas_sei" name="link_planilhas_sei">
                </div>

                <div class="edit-action-card">
                  <label for="link_convencao_coletiva">Link Convenção Coletiva</label>
                  <input type="text" id="link_convencao_coletiva" name="link_convencao_coletiva_sei">
                </div>

                <div class="edit-action-card">
                  <label for="tipo_garantia">Tipo da Garantia</label>
                  <input type="text" id="tipo_garantia" name="tipo_garantia">
                </div>
                
                <div class="edit-action-card">
                  <label for="valor_garantia">Valor da Garantia</label>
                  <input type="text" id="valor_garantia" name="valor_garantia">
                </div>
              </div>
            </div>
            <div class="container-managemente">
              <h3>Gerência</h3>
              <div class="management">
                <div class="management-card">
                  <label for="observacoes">Gestor</label>
                  <input id="Gestor" name="nome">
                </div>
                
              </div>

              <button type="button" class="add-manager">
                <i class="fas fa-plus"></i>
                <p>Adicionar Novo Responsavel</p>
              </button>

            </div>

            <div class="action-changes">
              <button type="button" class="delete-contracts">
                <i class="fa fa-trash"></i>
                <p>DELETAR CONTRATO</p>
              </button>
              <button type="button" class="cancel-changes">
                <i class="fas fa-times"></i>
                <p>Cancelar</p>
              </button>
              <button type="submit" class="save-changes">
                <i class="fa fa-check"></i>
                <p>Salvar Alterações</p>
              </button>
            </div>
          </div>
        </form>

        <div class="contracts-list">
          <div class="field-search">
            <form method="get">
              <input
                class="search-contract"
                type="text"
                name="search"
                value="{{ search }}"
                placeholder="Informe o número ou nome do contrato"
              />
              <button class="search-btn"><i class="fas fa-search"></i></button>
            </form>
          </div>

          {% if page_obj %}
            <ul class="contracts-ul">
              {% for contrato in page_obj %}
                <li
                  class="contract-item" data-id="{{ contrato.id }}"
                  data-numero="{{ contrato.numero_contrato }}"
                  data-processo-sei="{{ contrato.processo_sei }}"
                  data-entidade="{{ contrato.entidade }}"
                  data-cnpj="{{ contrato.cnpj_cpf }}"
                  data-objeto="{{ contrato.objeto|escapejs }}"
                  data-observacoes="{{ contrato.observacoes|escapejs }}"
                  data-gestor="{{ contrato.gestor.nome }}"
                  data-valor="{{ contrato.valor_atualizado }}"
                  data-status="{{ contrato.status }}"
                  data-vigencia-original="{{ contrato.vigencia_original|date:'Y-m-d' }}"
                  data-vigencia-atual="{{ contrato.vigencia_atual|date:'Y-m-d' }}"
                  data-vigencia-maxima="{{ contrato.vigencia_maxima|date:'Y-m-d' }}"
                  data-link-planilha="{{ contrato.links.link_planilhas_sei }}"
                  data-link-convencao="{{ contrato.links.link_convencao_coletiva_sei }}"
                  data-tipo-garantia="{{ contrato.garantia.tipo_garantia }}"
                  data-valor-garantia="{{ contrato.garantia.valor_garantia }}"
                  
                  data-responsaveis='[
                    {% for contato in contrato.contato_set.all %}
                        {
                            "nome": "{{ contato.nome|escapejs }}",
                            "emails": [{% for e in contato.emailcontato_set.all %}"{{ e.email }}"{% if not forloop.last %}, {% endif %}{% endfor %}],
                            "telefones": [{% for t in contato.telefonecontato_set.all %}"{{ t.telefone }}"{% if not forloop.last %}, {% endif %}{% endfor %}]
                        }
                        {% if not forloop.last %},{% endif %}
                    {% endfor %}
                  ]'
                >
                  <strong>Contrato nº:</strong> {{ contrato.numero_contrato }}<br />
                  <strong>Entidade:</strong> {{ contrato.entidade }}<br />
                  <strong>CNPJ/CPF:</strong> {{ contrato.cnpj_cpf }}
                </li>
              {% endfor %}
            </ul>

            <div class="pagination">
              {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}&search={{ search }}">Anterior</a>
              {% endif %}

              <span>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>

              {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}&search={{ search }}">Próxima</a>
              {% endif %}
            </div>
          {% endif %}
        </div>
      </section>

      <div id="modalNovoResponsavel" class="modal">
          <div class="modal-content">
              <div class="top-modal-responsavel">
                  <h2 class="data-contracts-title">Dados do Novo Contato</h2>
                  <i class="fa fa-times close"></i>
              </div>
              <form id="formNovoResponsavel">
                  <div class="form-group">
                      <label for="nomeContato">Nome do Contato</label>
                      <input type="text" id="nomeContato" name="nomeContato" required>
                  </div>
                  <div class="emails">
                      <label>Emails</label>
                      <div class="email-input">
                          <input type="email" name="email[]" placeholder="Email 1" required>
                          <button type="button" class="add-email">
                              <i class="fas fa-plus"></i>
                              Adicionar Novo E-mail
                          </button>
                      </div>
                  </div>
                  <div class="telefones">
                      <label>Telefones</label>
                      <div class="telefone-input">
                          <input type="tel" name="telefone[]" placeholder="Telefone 1" required>
                          <button type="button" class="add-telefone">
                              <i class="fas fa-plus"></i>
                              Adicionar Novo Telefone
                          </button>
                      </div>
                  </div>
                  <button class="submit" type="submit">Salvar Alterações</button>
              </form>
          </div>
      </div>

      <div id="modalDetalhesResponsavel" class="modal">
          <div class="modal-content">
              <div class="top-modal-responsavel">
                  <h2>Dados do Contato</h2>
                  <i class="fa fa-times close"></i>
              </div>
              <form id="formDetalhesResponsavel">
                  <div class="form-group">
                      <label for="detalhes-nome-input"><strong>Nome:</strong></label>
                      <input type="text" id="detalhes-nome-input" class="editable-input" required>
                  </div>
                  <div class="form-group">
                      <label><strong>Emails:</strong></label>
                      <div id="detalhes-emails" class="emails-container"></div>
                      <button type="button" class="add-email-detalhes">
                          <i class="fas fa-plus"></i> Adicionar Novo Email
                      </button>
                  </div>
                  <div class="form-group">
                      <label><strong>Telefones:</strong></label>
                      <div id="detalhes-telefones" class="telefones-container"></div>
                      <button type="button" class="add-telefone-detalhes">
                          <i class="fas fa-plus"></i> Adicionar Novo Telefone
                      </button>
                  </div>
                  <div class="action-buttons" style="margin-top: 20px; display: flex; gap: 10px;">
                      <button type="button" class="cancelar-detalhes">
                          Cancelar
                      </button>
                      <button type="submit" class="salvar-detalhes">
                          Salvar Alterações
                      </button>
                  </div>
              </form>
          </div>
      </div>
    </main>

    <footer class="footer-info">
      <p>&copy; <strong>2025 SJGO</strong> • Todos os direitos reservados •</p>
    </footer>

    <script type="module" src="{% static 'js/scripts.js' %}"></script>
  </body>
</html>